<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "Greate a new User Group", new_group_path, class: "btn btn-success btn-lg btn-block" %><br>
  </div>

  <% for group in @groups %>
    
       <% if FileTest.exist?(Rails.root.join("public","images", "groupphotos", "#{group.id}.jpg"))  %>
          <div class="col-md-4">
          
            <div class="thumbnail" style="background-color:#5ac88e;">
            <%= link_to image_tag("groupphotos/#{group.id}.jpg", style: "width:350px", style: "height:300px"), group_path(group.id) %>
                  
              <div class="caption">
                <%= link_to group.name, group_path(group) %> <br>

                <%= link_to "Edit",edit_group_path(group), class: "btn btn-default" %>
                <%= link_to "Delete", group_path(group), method: :delete, class: "btn btn-default" %><br>
              </div>
            </div><br>
          </div>
      <% else %>
          


      <% end %>

      
    
  <% end %>
</div>



