<div class="row">
  <div class="col-sm-4" style="background-color:none;">
    <div class="thumbnail" style="background-color:#5ac88e;">
        <%= link_to image_tag("userphotos/#{@user.id}.jpg", width: "350px"), user_path(@user.id) %>
        <h1> <%= @user.firstname + " " + @user.lastname%> </h1>
        
    </div><br>
  </div>

  
    
  <h2><%= @user.firstname  + "'s associations"%></h2>
  <% @members.each do |member| %>
    <div class="col-md-2" >
      <div class="thumbnail" style="background-color:#5ac88e;">
        <%= link_to image_tag("groupphotos/#{member.group.id}.jpg", style: "width:150px", style: "height:100px"), group_path(member.group.id) %>
        <div class="caption">
          <%= link_to member.group.name, group_path(member.group.id) %>
        </div>
      </div>
    </div>
  <% end %>

  

</div>




<!-- 
<h1> User Details of <%=  @user.firstname %> <%= @user.lastname  %> </h1>
<br><br>

<p> Date of Birth: <%=  @user.dateofbirth %> </p>
<br>

<p> Permanent Location: <%=  Location.find_by(id: @user.location_id).name %> </p>
<br>

<p> Company: <%=  @user.company %> </p>
<br> -->