<h3 class="page-header"></h3>

<h1> User Details of <%=  @user.firstname %> <%= @user.lastname  %> </h1>
<br><br>

<p> Date of Birth: <%=  @user.dateofbirth %> </p>
<br>

<p> Permanent Location: <%=  Location.find_by(id: @user.location_id).name %> </p>
<br>

<p> Company: <%=  @user.company %> </p>
<br>