<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Affinity</title>
    <!-- Logo Font -->
    <link href="http://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="container">
      <!-- Alerts and Notices -->
    <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>



  <div class="navbar navbar-default" >
   
  
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "AffinityGroups", sessions_path, class: "navbar-brand" %> 
    </div>

    <div class="navbar-collapse collapse">

      <ul class=" nav navbar-nav navbar-right">
        <li>
          <%= link_to "Find Groups", groups_path %>
        </li>
        
        <li>
          <%= link_to "Find Users", users_path %>
        </li>
      




      
      <% if current_user %>
        
          <li>
            <a href=<%= "users/" + current_user.id.to_s %>     
              <span >
              <span class="fa fa-user"></span>
              <%="Hi, " + current_user.try(:firstname) +" " + current_user.try(:lastname) %>
              </span>
        
            </a>
          </li>

          <li>
            <%= link_to "Log Out", logout_path %>
          </li>


      <% else %>
          
            <li ><%= link_to "Sign Up", new_user_path %></li> 
            
            <li class="dropdown" id="signupdropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>

              <div class="dropdown-menu" style="padding:10px;">
                <%= form_tag sessions_path do %>
                <%= text_field_tag :email, "", class: "form-control", placeholder: "Email Address" %>
                <br>
                <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %><br>
                <%= button_tag "Sign In", class: "btn btn-lg btn-primary btn-block" %>
                <% end %>

              </div>
            </li>
          
      <% end %>
      </ul>
    </div>
  </div>


  <%= yield %>
  </div>






<div class="navbar navbar-inverse navbar-bottom" role="navigation" >
  
    <div class="navbar-text pull-left">
      <p>&copy; 2015 AffintyGroups</p> 
    </div>

    <div class="navbar-text pull-right">
      <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>

    </div>

  
</div>


</body>
</html>




